.card__link-text{
    max-width: 456px;
    color: #aaaaaa;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    margin: 0 0 12px;
  }
  
@media screen and (min-width: 426px) and (max-width: 768px){
  .card__link-text{
    max-width: 352px;
  }
}

@media screen and (max-width: 425px){
  .card__link-text{
    visibility: hidden;
    margin-bottom: 0;
  }
}

