.photo-grid__item{
    width: 284px;
    height: 213px;
    /*width: calc(100% - 900px);*/
    padding: 0;
    margin: 0;
    
}
   
@media screen and (min-width: 769px) and (max-width: 1024px){
  .photo-grid__item{
    width: 300px;
    height: 225px;
    /*width: calc(100% - 628px);*/
  }
}
  
@media screen and (min-width: 426px) and (max-width: 768px){
  .photo-grid__item{
    width: 352px;
    height: 264px;
    /*width: calc(100% - px);*/
    
  }
}
  
@media screen and (max-width: 425px){
  .photo-grid__item{
    width: 288px;
    height: 216px;
    /*width: 100%;*/
  }
}