.lead__title{
  /*max-width: 720px;*/
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  align-self: center;
  text-align: center;
  width: calc(100% - 242px);
  margin: 0 0 32px;
}

@media screen and (min-width: 769px) and (max-width: 1024px){
  .lead__title{
    /*font-size: 96px;
    line-height: 100px;*/
    width: calc(100% - 208px);
  }
}

@media screen and (min-width: 426px) and (max-width: 768px){    
  .lead__title{
    /*font-size: 96px;
    line-height: 100px;*/
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 425px){
  .lead__title{
    /*max-width: 288px;*/
    font-size: 40px;
    line-height: 44px;
    width: calc(100% - 32px);
    margin: 0 0 16px;
  }
}