@import url('../intro/__title/intro__title.css');
@import url('../intro/__subtitle/intro__subtitle.css');
@import url('../intro/__text/intro__text.css');
@import url('../intro/__list/intro__list.css');
@import url('../intro/__list/intro__list-item.css');
@import url('../intro/__list/intro__list-item_normal.css');

.intro{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0 auto 92px 148px;
    /*max-width: 690px;
    min-height: 568px;
    max-width: 984px;
    padding: 0;*/
    width: calc(100% - 590px);
} 

@media screen and (min-width: 769px) and (max-width: 1024px ){
    .intro{
        /*max-width: 690px;*/
        width: calc(100% - 334px);
        margin-left: 48px;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px){
    .intro{
        /*max-width: 720px;*/
        width: calc(100% - 48px);
        margin: 0 24px 88px;
    }
}

@media screen and (max-width: 425px){
    .intro{
        /*max-width: 288px;*/
        width: calc(100% - 32px);
        margin: 0 16px 64px;
    }
}