@import url('./__item/cover__item.css');
@import url('./__title/cover__title.css');
@import url('./__subtitle/cover__subtitle.css');

.cover{
    max-width: 1184px;
    min-height: 740px;
    margin-bottom: 92px;
}

@media screen and (min-width: 769px) and (max-width: 1024px){
    .cover{
        max-width: 1024px;
        min-height: 640px;
        margin: 0 0 92px;
    }   
}

@media screen and (min-width: 426px) and (max-width: 768px){
    .cover{
        max-width: 768px;
        min-height: 480px;
        margin: 0 0 88px;
    }
}

@media screen and (max-width: 425px){
    .cover{
        max-width: 320px;
        min-height: 200px;
        margin: 0 0 64px;
    }
    
}