.card__image {
    max-width: 460px;
    min-height: 460px;
    object-fit: contain;
  }
  
@media screen and (min-width: 769px) and (max-width: 1024px){
  .card__image{
    max-width: 440px;
    min-height: 440px;
  }
}
  
@media screen and (min-width: 426px) and (max-width: 768px){
  .card__image{
    max-width: 340px;
    min-height: 340px;
  }
}

@media screen and (max-width: 425px){
  .card__image{
    max-width: 320px;
    min-height: 320px;
    margin-bottom: 0;
  }
}