.card__column{
    margin-right: 40px;
}

@media screen and (min-width: 769px) and (max-width: 1024px){
    .card__column{
        margin-right: 32px;
    }
}
    
@media screen and (min-width: 426px) and (max-width: 768px){
    .card__column{
        margin-right: 28px;
    }
}

@media screen and (max-width: 425px){
    .card__column{
        margin-right: 0;
    }
}
