.cover__item{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 740px;
    text-decoration: none;
    background-image: url("../../../images/__background.png");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
    margin: 0 48px 0;
}

.cover__item:before{
    content: "";
    height: 100%;
    width: 100%;
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .3;
    z-index: 1;
    transition-duration: .5s;
}

.cover__item:hover:before{
    opacity: .8;
}

@media screen and (min-width: 769px) and (max-width: 1024px){
    .cover__item{
        /*width: 100%;*/
        min-height: 640px;;
        margin: 0;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px){
    .cover__item{
        /*width: 100%;*/
        min-height: 480px;
        margin: 0;
    }
}

@media screen and (max-width: 425px){
    .cover__item{
        /*width: 100%;*/
        min-height: 200px;
        margin: 0;
    }
    
}